@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-dark: #1E1E2F;
    --card-dark: #2D2E3E;
    --accent: #8CBA51;
    --accent-dark: #6E9946;
    --text-light: #F2F2F2;
    --text-muted: #AAAAAA;
    --online: #4CAF50;
    --offline: #777777;
    --error: #FF6B6B;
    --radius: 8px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    transition: .6s;
}


header {
    display: flex;
    padding: 20px 40px;
    width: 100%;
    position: fixed;
    background-color: var(--card-dark);
    top: 0;
    left: 0;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}


header>nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 1.9em;
    text-decoration: none;
    color: var(--text-light);
    letter-spacing: 3px;
    font-weight: 700;
}

.U {
    color: var(--accent);
}

nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

nav>ul li {
    list-style: none;
    cursor: pointer;
}

nav>ul li i:hover {
    color: var(--accent);
}

nav>ul li a {
    color: var(--text-light);
    font-size: 1.25em;
    position: relative;
}

nav>ul li .home:hover::after {
    content: 'Home';
    position: absolute;
    bottom: -30px;
    left: -15px;
    background-color: var(--accent);
    padding: 4px 8px;
    font-size: 0.6em;
    border-radius: var(--radius);
    color: var(--bg-dark);
    width: max-content;
}

nav>ul li .createdPosts:hover::after {
    content: 'Created posts';
    position: absolute;
    text-align: center;
    bottom: -30px;
    left: -40px;
    background-color: var(--accent);
    padding: 5px 10px;
    font-size: 0.5em;
    border-radius: var(--radius);
    color: var(--bg-dark);
    width: max-content;
}

nav>ul li .likedPosts:hover::after {
    content: 'Liked posts';
    position: absolute;
    text-align: center;
    bottom: -30px;
    left: -30px;
    background-color: var(--accent);
    padding: 5px 10px;
    font-size: 0.5em;
    border-radius: var(--radius);
    color: var(--bg-dark);
    width: max-content;
}

nav>ul li .postsByCategory:hover::after {
    content: 'Categories';
    position: absolute;
    bottom: -30px;
    left: -30px;
    background-color: var(--accent);
    padding: 4px 8px;
    font-size: 0.6em;
    border-radius: var(--radius);
    color: var(--bg-dark);
    width: max-content;
}


nav>ul li button {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-light);
    font-size: 1.25em;
    cursor: pointer;
    position: relative;
}

nav>.logout {
    background-color: var(--accent);
    color: var(--bg-dark);
    text-decoration: none;
    padding: 6px 12px;
    border-radius: var(--radius);
    transition: 0.6s;
}

nav>.logout:hover {
    background-color: var(--accent-dark);
}

main{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 100px 0px;
}

aside{
    position: sticky;
    top: 100px;
    height: fit-content;
    padding: 0 20px;

}

aside > div{
    background-color: var(--card-dark);
    border-radius: var(--radius);
}

aside > .profile{
    width: 300px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

aside > .friends{
    height: 75vh;
    margin-top: 20px;
    width: 300px;

}

aside > .filter{
    height: 84.5vh;
    width: 300px;
    padding: 15px 30px;
}

aside > .profile  p{
    color: var(--text-light);
    font-weight: 600;
    font-size: 1.2em;
}

aside > .profile p i{
    margin-right: 10px;
}

aside > .filter h3{
    color: var(--accent);
}

aside > .filter ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    margin-top: 30px;
}

aside > .filter ul i{
    background-color: var(--bg-dark);
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 0.8em;
}

aside > .filter ul label{
    text-decoration: none;
    color: var(--text-light);
    font-size: 1.1em;
    cursor: pointer;
}

aside > .filter ul label span{
    position: relative;
    width: max-content;
    transition: .3s;
}

aside > .filter ul label span::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: var(--accent-dark);
    transition: .3s;

}

aside > .filter ul label span:hover::after{
    width: 100%;
    transition: .3s;
}

aside > .filter ul input:checked + label span::after{
    width: 100%;
}

.friends ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.friends ul i{
    padding: 5px;
    border-radius: 50%;
    color: var(--bg-dark);
    margin-right: 10px;
}

.friends ul i.online{
    color: var(--online);
}

.friends ul i.offline{
    color: var(--offline);
}

.friends ul li span{
    color: var(--text-light);
    position: relative;

}

.friends ul li{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: var(--radius);
}

.friends ul li span::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
    width: 0;
    height: 2px;
    transition: .3s;
}

.friends ul li i.online + span:hover::after{ 
    background-color: var(--accent-dark);
    width: 100%;
}

.friends ul li i.offline + span:hover::after{ 
    background-color: var(--offline);
    width: 100%;
}

.friends .chat {
    width: 300px;
    height: 400px;
    background-color: var(--card-dark);
    border: 1px solid var(--text-muted);
    position: absolute;
    right: 94%;
    bottom: 0;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.friends .chat .header {
    background-color: var(--bg-dark);
    color: var(--text-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 16px;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.friends .chat .header button {
    background: none;
    border: none;
    color: var(--text-light);
    font-size: 18px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.friends .chat .header button:hover {
    background-color: var(--card-dark);
}

.friends .chat .cbody {
    flex-grow: 1;
    background-image: url(/frontend/static/images/chatbg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    overflow-y: auto;
}


#postForm {
    background-color: var(--card-dark);
    color: var(--text-light);
    padding: 1.5rem;
    border-radius: var(--radius);
    width: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 9px;
}

#postForm h2 {
    color: var(--accent);
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 10px;
}

#postForm input[type="text"] {
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--bg-dark);
    color: var(--text-light);
    font-size: 1rem;
    outline: none;
}

#postForm input[type="text"]:focus,
#postForm input[type="text"]:valid{
    border-bottom: 1px solid var(--accent-dark);
}

#postForm input[type="text"]::placeholder {
    color: var(--text-muted);
}

.errPost {
    color: var(--error);
    font-size: 0.9rem;
}


#postForm h3 {
    color: var(--accent-dark);
    font-size: 1.1rem;
}


.category-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    padding: 0.4rem;
    border-radius: var(--radius);
    justify-content: center;
}

.category-section input[type="checkbox"] {
    display: none;
}

.category-section label {
    padding: 5px 10px;
    font-size: 0.85rem;
    border: 1px solid var(--accent);
    border-radius: var(--radius);
    color: var(--accent);
    background-color: transparent;
    cursor: pointer;
}

.category-section input[type="checkbox"]:checked + label {
    color: var(--text-light);
    border-color: var(--accent-dark);
    font-weight: 500;
    background-color: var(--accent);
    color: var(--bg-dark);
}

.category-section label:hover {
    background-color: var(--accent);
    color: var(--bg-dark);
}

#postForm button[type="submit"] {
    padding: 0.50rem;
    font-size: 1rem;
    background-color: var(--accent);
    color: var(--bg-dark);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#postForm button[type="submit"]:hover {
    background-color: var(--accent-dark);
}

.post {
    margin: 25px 0;
    background-color: var(--card-dark);
    border-radius: var(--radius);
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    color: var(--text-light);
    width: 700px;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;

}

.post .dateCreation{
    font-size: 12px;
    opacity: .6;
    margin-top: 5px;
}

.post>div {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 100%;
}

.post .title{
    border-radius: var(--radius);
    margin: 6px 0;
    position: relative;
    width: max-content;
}

.post .username{
    width: max-content;
}

.post .content{
    margin: 15px 0;
    background-color: var(--bg-dark);
    padding: 10px 20px;
    border-radius: var(--radius);
}

.post>div:first-child {
    font-weight: bold;
    color: var(--text-light-);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.post .allCategories{
    color: var(--text-muted);
}

.post .button-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    /* optional: allows buttons to wrap on small screens */
}

.post .button-group button {
    background-color: transparent;
    color: var(--accent);
    border: none;
    border-radius: var(--radius);
    font-size: 0.95rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.post .comments {
    background-color: var(--bg-dark);
    border-radius: var(--radius);
    padding: 0.75rem 1rem;
    color: var(--text-muted);
    font-size: 0.9rem;
    display: none;
    /* default hidden */
    border-left: 3px solid var(--accent);
}

/* Responsive container */
@media (min-width: 576px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
   
}

@media (min-width: 1900px) {
    .container {
        max-width: 1900px;
    }
}

@media (max-width: 1300px) {
    .post, #postForm{
        max-width: 500px;
    }
}


@media (max-width: 1100px) {
    .post, #postForm{
        max-width: 400px;
    }

}